@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background: url(../images/HaloRing.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}

body {
    margin: 0 auto;
    font-family: 'Chakra Petch', sans-serif;
}

a {
    text-decoration: none;
    color: #fe921f;
}

/* ///////// */
/* MAIN BODY */
/* ///////// */

#particles-js {
    background-color: hsla(0, 0%, 0%, 0.875);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  
  #mainBody {
    position: relative;
  }

#mainBody {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 70%;
}

#identification,
#welcome,
#search,
#about,
#bio,
#skills,
#social {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    color: white;
    text-align: center;
}

#identification {
    margin: 20% auto;
    width: 225px;
}

#identification #firstName, #identSubmit {
    text-align: center;
    margin: 5px 0;
}

#welcome {
    margin: 10% auto 0;
}

#search {
    margin: 0 auto;
    font-size: 1.125em;
    max-width: 100%;
}

#search #searchInput {
    text-align: center;
}


#about,
#bio,
#skills,
#social,
#portfolio {
    margin: 5% auto 0;
    font-size: 1.25em;
    color: #fe921f;
}

#skills {

}

#social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.5%;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    height: auto;
    color: #fe921f;
    align-self: center;
}

.imgPortWrap {
    margin: 10px;
}

.imgPort img {
    max-width: 100%;
    width: 300px;
}

.imgPortWrap p {
    align-self: start;
    letter-spacing: 1px;
    font-size: 12px;
    margin-top: 7px;
}


/* //// */
/* ETC. */
/* //// */

textarea:focus, input:focus{
    outline: none;
}

::-webkit-scrollbar { 
    display: none; 
}
